%a{:name => 'about'}
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Expense Report App
          %h3 Track All Your Expenses!
          %hr.intro-divider
          .col-xs-6.col-md-4
            = link_to 'Sign In 1',  '#'
          .col-xs-6.col-md-4
            = link_to 'Something 2',  '#'
          .col-xs-6.col-md-4
            = link_to 'Another Thing 3', '#'